body {
    background-position-y:0px;
}
.text {
    margin: 7px;
}

.alert {
	color: red;
	font-size: large;
}

#content {
	width: 1200px;
	max-width: 1200px;
}

#main-map {}
#headarea {}
#toptxt {}
#appname {
    font-size: x-large;
    font-weight: bold;
    white-space: nowrap;
    width: 200px;
    padding: 5px;
    margin-right: 0px;
    display: inline;
    float: left;
}
#beta {
    float: right;
}
#betabutton {}
#betatext {}
#queryform {
    width: 40%;
    margin: auto;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* margin-top: -20px; */
    height: auto;
    /* display: inline-block; */
}
#query {}
#rtopiclist {}
#add {}
#resetButton {}
#instrtxt {}

/* Contains all the graphics. */
#container {
    width: 1200px;
    /*width:940px;*/
    height: auto;
    /* margin:0 auto; */
    /*margin-left:-130px;*/
    position:relative;
    /*box-shadow:0px 0px 20px -6px #000000;*/
    margin-top:15px;
}

#left-container, 
#right-container, 
#center-container {
    height:600px;
    position:absolute;
    top:0;
}

#left-container, #right-container {
    width: 300px;
    color:#686c70;
    text-align: left;
    /*overflow: auto;*/
    background-color:#fff;
    background-repeat:no-repeat;
    /*border-bottom:1px solid #ddd;*/
}

.result_body {
    overflow:auto;
    height:570px;
}
#left-container {
    left:0;
}

#right-container {
    box-shadow: 0px 0px 20px -6px #000000;
    right:0;
    border-left:1px solid #ddd;
}

#right-container h4{
    text-indent:8px;
}

#center-container {
/*    width: 900px; */
    background-color:#FFFFFF;
    color:#ccc;
    float: right;
}

.result_section {
	/*	width: 100%;*/
    font-size: 12px;
    list-style:none;
    margin:7px;
}

#log {
    position: absolute;
		top: 10px;
		right:10px;
    font-size:1.0em;
}

#infovis {
    width:100%;
    height:600px;
    /*margin:auto;*/
    overflow:hidden;
}

span.close {
	color:#FF5555;
	cursor:pointer;
	font-weight:bold;
	margin-left:3px;
}

span.name {
  cursor: pointer;
}


/*TOOLTIPS*/
.tip {
	color: #111;
	width: 139px;
	background-color: white;
	border:1px solid #ccc;
	-moz-box-shadow:#555 2px 2px 8px;
	-webkit-box-shadow:#555 2px 2px 8px;
	-o-box-shadow:#555 2px 2px 8px;
	box-shadow:#555 2px 2px 8px;
	opacity:0.9;
	filter:alpha(opacity=90);
	font-size:10px;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding:7px;
	text-align: left;
	width:auto;
	max-width:500px;
}


/* LIST OF EXPERTS */
.field {
	font-style: italic;
	margin: .4ex 1ex;
}

#graphDetails {
    margin-bottom:0px;
    margin-top:5px;
}
input[disabled] {
    opacity:0.5;
    box-shadow:none;
}
#resetButton {
    background-color: #933;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#B55),to(#933));
    background-image: -moz-linear-gradient(center top , #B55, #933);
}
#helptext {
    width:630px;
    /*padding:5px;*/
}
#center-container {
    display:none;
}
.bar {
    height:15px;
    display:block;
    background-color:#EEE;
    border:1px solid #CCC;
    float:left;
    margin-bottom:1px;
}
.barchart {
    line-height:18px;
    padding-top:5px;
}

h2 {
    font-size:23px;
    margin-top:0px;
    padding-top:0px;
    line-height:1.3em;
}
.result_section h2 {
    font-size:16px;
    padding:10px 0px;
    margin:0px;
}
.result_section ul li {
    margin-top:3px;
}
li input[type=checkbox] {
    vertical-align:middle;
}
.orange-square, .blue-circle {
    display:block;
    float:left;
    height:15px;
    width:15px;
    margin-right:3px;
}
.orange-square {
    background-color:#ffa500;
}
.blue-circle {
    background-color:#23A4FF;
    border-radius:7px;
}
ul.visible {
    margin-bottom:1.3em;
    margin-left:20px;
    list-style-type:disc;
}
#cutofflabel {
    display:inline-block;
    width:0px;
    overflow:visible;
    position:relative;
    left:10px;
    top:2px;
}
#queryCutoff {
    background:transparent;
    text-align:right;
    width: 2px;
}
#cutofflabel img {
    vertical-align:middle;
    position:relative;
    top:-2px;
}
.progress, .progress div {
    height:10px;
    margin-bottom:-10px;
}
.progress {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
}
.progress div {
    background-color:#9999FF;
    width:0%;
    white-space:nowrap;
    color:#FFF;
    font-size:10px;
    line-height:10px;
}
hr {
    background:#efefef;
}
.tabs {
    width: auto;
    margin-bottom: 15px;
    border: 0;
    z-index: 10;
}
.tabs ul.titles li {
    background: transparent;
    /*padding-right: 1px;*/
    line-height: normal;
    display:inline;
}
.tabs ul {
    padding-left:0px;
}
.tabs ul.titles {
    list-style: none;
    height:30px;
    color: #5e6363;
    font-size: 1em;
}
.tabs ul.titles li a {
    text-decoration: none;
    background-color: #eeeeee;
    outline: none;
    display:block;
    float:left;
    width:75px;
    height:30px;
    line-height:30px;
    text-align:center;
    color: #5e6363;
}

.tabs ul.titles li a:hover {
    background-color: #dddddd;
    color: #002b44;
}

.tabs ul.titles li.activeTab a,
.tabs ul.titles li.activeTab a:hover {
    background-color: #fff;
}
.smalllogo {
    margin-left:-5px;
    vertical-align:middle;
}
.advanced label, input {
    display:inline;
}
.advanced input[type=text] {
    width:50px;
}
.advanced {
    display:none;
}
.person-info {
    margin-top:3px;
    border: 1px solid green;
}
.thumbnail img {
    width: 50px;
    float: right; margin-top: 10px; clear: both;
}
.person_details {
    margin-top:3px;
    border: 1px solid green;
}
.person_details img {
    width: 50px;
    float: right; margin-top: 10px; clear: both;
}
.person_details p {
    margin-bottom:0px;
}
.person_details ul {
    list-style:disc;
    margin-left:20px;
}
.person_details li {
    margin:0px;
    margin-bottom:3px;
}
.ack {
    padding-top:20px;
    /*text-align:center;*/
    color:#999;
    margin:0px 20px;
    /*font-size:8pt;*/
}
footer {
    margin:0px 20px;
    width:auto;
}
footer p.copyright {
    margin-left:0px;
    padding-left:0px;
}

/** styles for right container **/

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 0px 0px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1 {
    background-color: darkseagreen;
    color: black;
    border: 1px solid #4CAF50;
    width: 100%;
    margin: -1px;
}
.button2 {
    background-color: #85b0fe;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

/****************** dre 4/23/13 added to support side panel *********************/

.leftpanelcontent {
    margin-left: 120px;
}

.leftpanelcontainer1 {
    position: absolute;
    top: 400px;
    left: 0;
    z-index: 2;
}

/**** Left Panel 1 ***/

a:focus {
    outline: none;
}

.panel {
    position: fixed;
    display: none;
    background: #85b0fe;
    border:1px solid #111111;
    -moz-border-radius-topright: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-right-radius: 20px;
    width: 380px;
    height: auto;
    padding: 10px 10px 10px 30px;
    filter: alpha(opacity=85);
    opacity: .9;
}

.panel p{
    margin: 0 0 15px 0;
    padding: 0;
    color: #cccccc;
}

.panel a, .panel a:visited{
    margin: 0;
    padding: 0;
    color: #9FC54E;
    text-decoration: none;
    border-bottom: 1px solid #9FC54E;
}

.panel a:hover, .panel a:visited:hover{
    margin: 0;
    padding: 0;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
}

a.trigger{
    position: fixed;
    text-decoration: none;
    top: 400px;
    left: 0;
    font-size: 16px;
    letter-spacing:-1px;
    font-family: verdana, helvetica, arial, sans-serif;
    color:#fff;
    font-weight: 600;
    border:1px solid #444444;
    -moz-border-radius-topright: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    display: block;
    background-color: #333333;
    background-repeat: no-repeat;
    background-position: 90% 55%;
    z-index:4;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 15px;
    background:#333333 url(plus.png) 85% 55% no-repeat;
}

a.trigger:hover{
    position: fixed;
    text-decoration: none;
    top: 400px;
    left: 0;
    font-size: 16px;
    letter-spacing:-1px;
    font-family: verdana, helvetica, arial, sans-serif;
    color:#fff;
    padding: 10px 50px 10px 20px;
    font-weight: 600;
    border:1px solid #444444;
    -moz-border-radius-topright: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    display: block;
    background-color: #222222;
    background:#222222 url(plus.png) 85% 55% no-repeat;
    background-repeat: no-repeat;
    background-position: 90% 55%;
}

a.active.trigger {
    background:#222222 url(minus.png) 85% 55% no-repeat;
    background-position: 90% 55%;
}

/**** Left Panel 2 ***/

a:focus {
    outline: none;
}

.panel2 {
    position: fixed;
    display: none;
    background: #85b0fe;
    border:1px solid #111111;
    -moz-border-radius-topright: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-right-radius: 20px;
    width: 380px;
    height: auto;
    padding: 10px 10px 10px 30px;
    filter: alpha(opacity=85);
    opacity: .9;
}

.panel2 p{
    margin: 0 0 15px 0;
    padding: 0;
    color: #cccccc;
}

.panel2 a, .panel2 a:visited{
    margin: 0;
    padding: 0;
    color: #9FC54E;
    text-decoration: none;
    border-bottom: 1px solid #9FC54E;
}

.panel2 a:hover, .panel2 a:visited:hover{
    margin: 0;
    padding: 0;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
}

a.trigger2{
    position: fixed;
    text-decoration: none;
    top: 460px;
    left: 0;
    font-size: 16px;
    letter-spacing:-1px;
    font-family: verdana, helvetica, arial, sans-serif;
    color:#fff;
    font-weight: 600;
    border:1px solid #444444;
    -moz-border-radius-topright: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    display: block;
    background-color: #333333;
    background-repeat: no-repeat;
    background-position: 90% 55%;
    z-index:4;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 15px;
    background:#333333 url(plus.png) 85% 55% no-repeat;
}

a.trigger2:hover{
    position: fixed;
    text-decoration: none;
    top: 460px;
    left: 0;
    font-size: 16px;
    letter-spacing:-1px;
    font-family: verdana, helvetica, arial, sans-serif;
    color:#fff;
    padding: 10px 50px 10px 20px;
    font-weight: 600;
    border:1px solid #444444;
    -moz-border-radius-topright: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    display: block;
    background-color: #222222;
    background:#222222 url(plus.png) 85% 55% no-repeat;
    background-repeat: no-repeat;
    background-position: 90% 55%;
}

a.active.trigger2 {
    background:#222222 url(minus.png) 85% 55% no-repeat;
    background-position: 90% 55%;
}

/**** Left Panel 3 ***/

a:focus {
    outline: none;
}

.panel3 {
    position: fixed;
    display: none;
    background: #85b0fe;
    border:1px solid #111111;
    -moz-border-radius-topright: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-right-radius: 20px;
    width: 380px;
    height: auto;
    padding: 10px 10px 10px 30px;
    filter: alpha(opacity=85);
    opacity: .9;
}

.panel3 p{
    margin: 0 0 15px 0;
    padding: 0;
    color: #cccccc;
}

.panel3 a, .panel3 a:visited{
    margin: 0;
    padding: 0;
    color: #9FC54E;
    text-decoration: none;
    border-bottom: 1px solid #9FC54E;
}

.panel3 a:hover, .panel3 a:visited:hover{
    margin: 0;
    padding: 0;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
}

a.trigger3{
    position: fixed;
    text-decoration: none;
    top: 520px;
    left: 0;
    font-size: 16px;
    letter-spacing:-1px;
    font-family: verdana, helvetica, arial, sans-serif;
    color:#fff;
    font-weight: 600;
    border:1px solid #444444;
    -moz-border-radius-topright: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    display: block;
    background-color: #333333;
    background-repeat: no-repeat;
    background-position: 90% 55%;
    z-index:4;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 15px;
    background:#333333 url(plus.png) 85% 55% no-repeat;
}

a.trigger3:hover{
    position: fixed;
    text-decoration: none;
    top: 520px;
    left: 0;
    font-size: 16px;
    letter-spacing:-1px;
    font-family: verdana, helvetica, arial, sans-serif;
    color:#fff;
    padding: 10px 50px 10px 20px;
    font-weight: 600;
    border:1px solid #444444;
    -moz-border-radius-topright: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    display: block;
    background-color: #222222;
    background:#222222 url(plus.png) 85% 55% no-repeat;
    background-repeat: no-repeat;
    background-position: 90% 55%;
}

a.active.trigger3 {
    background:#222222 url(minus.png) 85% 55% no-repeat;
    background-position: 90% 55%;
}

/*** Query result status info ***/
#statuscontainer {
    position: absolute;
    top: 200px;
    left: 0;
    z-index: 100;
    width: 150px;
    height: auto;
    padding: 30px 30px 30px 30px;
    filter: alpha(opacity=85);
    opacity: .9;
    background: gray;
    border:1px solid #111111;
    -moz-border-radius-topright: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-right-radius: 20px;


}